* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Why have headers as class */

header {
    padding: 20px 0px;
    background-color: #2a607c;
    color: #ffffff;
}
/* fixed padding look of nav headers */
header a {
    text-decoration: none;
    color: #d9dcd6;
    padding: 20px;
  }

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 10px;
    float: right;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    text-decoration: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 10px;
}
content p {
    font-size: 16px;
}

.hero {
    height: 1050px;
    width: 100%;
    margin-bottom: 0 px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 77%;
    display: inline-block;
    margin-left: 20px;
}
.content p {
    font-size: 18px;
}
/* Fixed over size image */
.content img {
    max-height: 200px;
}

.content div {
    margin: 20px;
}
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits p {
    font-size: 20px;
}
.benefit-box {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-box h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-box img {
    display: block;
    margin: 0px auto;
    max-width: 150px;
}
/* Fixed oversized image by making content class here 
.content {
    margin-bottom: 20px;
    padding: 50px; 
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}*/

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 46px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 46px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 46px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
